.form-container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-column-gap: 0px;
}

.form-item {
  display: block;
  border-radius: 10px;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-size: 1.5rem;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.form-input.error {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.form-input.error:focus {
  border-color: red;
}

.form-input-error {
  color: red;
  font-size: 1.2rem;
}

.form-item-badges {
  display: flex;
  flex-direction: column;
}

.form-badge {
  padding: 5px 5px;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0px;
}

.form-input.text-area {
  resize: vertical;
  min-height: 100px;
}

.form-item.checkbox {
  display: flex;
}

.form-input.checkbox {
  height: 50px;
  width: 50px;
  margin-left: 1rem;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-action-button {
  margin: 5px 5px;
}

@media (min-width: 768px) {
  .form-container {
    max-width: 700px;
  }
  .form-action-button {
    margin: 10px 10px;
  }
  .form-item-badges {
    flex-direction: row;
  }
}

@media (min-width: 1281px) {
  .form-container {
    max-width: 1000px;
  }
  .form-action-button {
    margin: 10px 10px;
  }
  .form-item-badges {
    flex-direction: row;
  }
}
